h1{
    text-align: center;
    font-size: 50px;
}
p{
    text-align: center;
    font-size: 25px;
}
ul{
    list-style: none;
}
#actions{
    display: grid;
}
.button{
    background-color: whitesmoke;
    padding: 60px 70px;
    font-size: 20px;
}
.list-1{
    grid-row: 1/2;
    grid-column: 1/2; 
    margin-left: auto;
}
.list-2{
    grid-row: 1/2;
    grid-column: 2/3 ;
}
.list-3{
    grid-row: 2/3;
    grid-column: 1/2;
    margin-left: auto;
}
.list-4{
    grid-row: 2/3;
    grid-column: 2/3;
}